{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Default</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="#" class="btn btn-sm btn-neutral">New</a>
                        <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                    </div>
                </div>
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Compra - Atual </h5>
                                        <span class="h2 font-weight-bold mb-0">{{ total_compra|floatformat }} - {{ total_investido|floatformat }}</span>
                                    </div>

                                </div>
                                <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success mr-2"></span>
                                    <span class="text-nowrap"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total de ajuste</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ valor_total_ajuste |floatformat }}</span>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Todos Invest.</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ total_todos_investimentos  |floatformat }}</span>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success mr-2"></span>
                                    <span class="text-nowrap"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                                        <span class="text-success mr-2"><i
                                                class="fa fa-arrow-up"></i> {{ percentual_rentabilidade |floatformat }}%</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                            <i class="ni ni-chart-bar-32"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success mr-2"></span>
                                    <span class="text-nowrap"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-12">
                <div class="card bg-default">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                                <h5 class="h3 text-white mb-0">Composição</h5>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Chart -->
                        <div class="chart-canvas" id="plotly_pizza_percentual_real_por_catgoria">
                            {{ plotly_pizza_percentual_real_por_catgoria|safe }}
                            <!-- Chart wrapper
                            <canvas id="chart-sales-dark" class="chart-canvas"></canvas> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card bg-default">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                                <h5 class="h3 text-white mb-0">Sales value</h5>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Chart -->
                        <div class="chart-canvas" id="plotly_bar_valor_ajuste_categoria">
                            {{ plotly_bar_valor_ajuste_categoria|safe }}
                            <!-- Chart wrapper
                            <canvas id="chart-sales-dark" class="chart-canvas"></canvas> -->
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card bg-default">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                                <h5 class="h3 text-white mb-0">Sales value</h5>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Chart -->
                        <div class="chart-canvas" id="plotly_bar_valor_ajuste_por_ativo">
                            {{ plotly_bar_valor_ajuste_por_ativo|safe }}
                            <!-- Chart wrapper
                            <canvas id="chart-sales-dark" class="chart-canvas"></canvas> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Ativos</h3>
                            </div>
                            <div class="col text-right">
                                <a href="#!" class="btn btn-sm btn-primary">See all</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Ativo</th>
                                <th scope="col">Situação</th>
                                <th scope="col">Qtd</th>
                                <th scope="col">% Ideal</th>
                                <th scope="col">% Atual</th>
                                <th scope="col">% Dif.</th>
                                <th scope="col">Val. At. Total</th>
                                <th scope="col">Ajust. Qtd</th>
                                <th scope="col">Ajust. Val.</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for a in df_ativos %}
                                <tr>
                                    <th scope="row">
                                        {{ a.Ativo }}({{ a.Categoria }})
                                    </th>
                                    <td class="w-30">
                                        <div class="d-flex px-2 py-1 align-items-center">
                                            <div class="ms-4">
                                                <p class="text-xs font-weight-bold mb-0">PM:  {{ a.Preco_medio }}</p>
                                                <p class="text-xs font-weight-bold mb-0">VA:  {{ a.valor_ativo_atual }}</p>
                                                <p class="text-xs font-weight-bold mb-0" style="color: {% if a.valorizacao > 0 %}green{% else %}red{% endif %};">%: {{ a.valorizacao |floatformat:2   }}</p>
                                                <p class="text-xs font-weight-bold mb-0"  style="color: {% if a.valorizacao_valor > 0 %}green{% else %}red{% endif %};">R$: {{ a.valorizacao_valor |floatformat:2    }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{ a.Quantidade }}
                                    </td>
                                    <td>
                                        {{ a.Percentual }}
                                    </td>
                                    <td>
                                        {{ a.perc_real_ativo |floatformat:2  }}
                                    </td>
                                    <td>
                                        {{ a.vs_perc_ativo |floatformat:2  }}
                                    </td>

                                    <td>
                                        {{ a.valor_ativo_total }}
                                    </td>
                                    <td>
                                        {{ a.ajuste_ativo_qtd }}
                                    </td>
                                    <td>
                                        {{ a.ajuste_ativo_val }}
                                    </td>



                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
